/*Reload onfly command+shift+R*/

body{
    background-color: #FFFFFF;
}

.material-icons.md-dark {
    /*position: fixed;
    right: 10px;*/
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.54);
}

.Container {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #FFFFFF;
}

.App-header {
    background-color: #FFFFFF;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    color: #101820;
    font-family: 'Righteous', cursive;
}

/* Layout styling */
.row {
    /*display: -webkit-flex;*/
    display: flex;
    width: 100%;
}

.column1 {
    background-color: #FFFFFF;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 5px;
}

.column2 {
    background-color: #FFFFFF;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 5px;
}

.column3 {
    background-color: #FFFFFF;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 5px;
}

footer {
    background-color: #FFFFFF;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #101820;
    font-family: 'Righteous', cursive;
    font-size: 12px;

}

.Img {
    display: inline-block;
    position: relative;
    max-width: 100%;
    height: auto;
    max-width: 450px;
    margin: 2px;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

/* Side menu styling */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #E0E0E2;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #101820;
    display: block;
    transition: 0.3s;
    font-family: 'Righteous', cursive;

}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #E0E0E2;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.OpenNav {
    font-size: 30px;
    cursor: pointer;
    position: relative;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
.Logo{
    width: 30px;
    height: 30px;
    border-radius: 25px;
}